.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */ /* 
  border: 1px solid black; */
  padding: 20px;
  background-color: lightgreen;
  margin: 20px;
  transition: transform 0.2s;
}

.card > img {
  object-fit: contain;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card__text > p {
  text-align: center;
}

.card__text > h2 {
  text-align: center;
}
